* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/* END OF RESET */



#root {
    color:#171717;
    background-color: #fbfbfb;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
    color: white;
    background-color: #fbfbfb;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    padding: 1rem;
}

h1 {
    font-size: 48px;
    line-height: 40px;
    margin: 48px 0;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
    text-align: center;
    font-family: 'Teko', sans-serif;
}

main {
    margin: 0 auto;
}

.title-section {
    max-width: 600px;
    padding-top: 16px;
    text-align: left;
    margin: 0 auto;
}

#datepicker {
    box-sizing: border-box;
    max-width: 400px;
    border-radius: 4px;
    height: 40px;
	padding: 0 10px;
	font-size: 16px;
	background-color: white;
  	border: solid 1px #262626;
}

form {
	margin: 48px auto 16px;
    width: 100%;
}

input {
    margin: 0 auto;
    width: 100%;
	
}

input, 
label {
	display: block;
	width: 100%;
}

a img {
    height: 60vh;
}

#media-section {
    text-align: center;
}

.image-div {
    width: 60%;
    margin: 0 auto;
}

#videoLink {
    width: 60%;
    height: 360px
}

#date {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    color: #595959;
}

.explanation-container {
    width: 80%;
    margin: 0 auto;
}

#explanation {
    max-width: 600px;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    margin: 20px auto;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
        line-height: 40px;
    }
}